html {
    height: 100%;
}

body {
    background-color: #7A9E9F;
    font-family: monospace;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Turn off number scroller for number inputs, with it included
   the centered font looks funny when invisible. */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#app {
    background-color: #B8D8D8;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    flex-grow: 1;
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid #4F6367;
    border-radius: 5px;

    padding: 5px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    font-family: monospace;
}

/* Order of button styles must be hover, focus, active.
   Otherwise, in mobile mode the button will stay highlighted after press. */
button:hover {
    color: #353535;
    background: #F1DABF;
    border-color: #f6b93b;
    transition: all 0.25s ease 0s;
    cursor: pointer;
}

button, button:focus {
    color: #f1f1f1;
    background: #494949;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #494949;
    display: inline-block;
    transition: all 0.25s ease 0s;
    outline: none;
}

button:active {
    background: #eeaf31;
}

#target {
    font-size: 60px;
    width: 100px;
}

#target-container {
    margin-top: 25px;
    margin-bottom: 30px;
}

#buttons {
    margin-top: 15px;
    margin-bottom: 30px;
}

#answer {
    line-height: 200%;
}

@media screen and (max-width: 480px) {
    #app {
        width: 100%;
    }
}